# RCC 自動生成用テンプレート
# 【書式】 filename: タイトル,姓 名,GitHubID
# （例）1kai: 1回生総括,RCC 太郎,114514
#
# 回生別のファイル名は変更しないでください
# それ以外のファイル名は先頭に数字を付けることで、順番を制御できます
# 数字が一桁の場合は先頭に0をつけてください．
---
hajimeni: はじめに
soukatsu:
  zentai:
    01_zentai: {{ '前期' if info.ordinal == 1 else '後期'}}活動総括
    02_unei: 運営総括
  1kai: 1回生総括
  2kai: 2回生総括
  3kai: 3回生総括
{% if info.ordinal == 1 %}
  4kai: 4回生総括
{% endif %}
  kaikei:
#    01_zentai: 全体総括
  kensui:
#    01_zentai: 全体総括
  syogai:
#    01_zentai: 全体総括
  system:
#    01_zentai: 全体総括
  soumu:
#    01_zentai: 全体総括
houshin:
  zentai:
    01_zentai: {{ '前期' if info.ordinal == 2 else '後期'}}活動方針
    02_unei: 運営方針
{% if info.ordinal == 1 %}
  1kai: {{ '新' if info.ordinal == 2 else ''}}1回生方針
{% endif %}
  2kai: {{ '新' if info.ordinal == 2 else ''}}2回生方針
  3kai: {{ '新' if info.ordinal == 2 else ''}}3回生方針
{% if info.ordinal == 2 %}
  4kai: {{ '新' if info.ordinal == 2 else ''}}4回生方針
{% endif %}
  kaikei:
#    01_zentai: 全体方針
  kensui:
#    01_zentai: 全体方針
  syogai:
#    01_zentai: 全体方針
  system:
#    01_zentai: 全体方針
  soumu:
#    01_zentai: 全体方針