[submodule "constitution"]
	path = constitution
	url = git@bitbucket.org:ritscc/constitution.git
[submodule "tex-commands"]
	path = tex-commands
	url = git@bitbucket.org:ritscc/tex-commands
[submodule "ta9boh"]
	path = ta9boh
	url = git@bitbucket.org:ritscc/ta9boh.git
