[submodule "constitution"]
	path = constitution
	url = git@gitlab.com:ritscc/soukai/constitution.git
[submodule "tex-commands"]
	path = tex-commands
	url = git@gitlab.com:ritscc/soukai/tex-commands.git
[submodule "unagi"]
	path = unagi
	url = git@gitlab.com:ritscc/soukai/unagi.git
